@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2.5rem;
}
p {
    font-size: 1rem;
    margin: 10 px 0;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

/* Utility Classes */
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: auto;
}

.large {
    font-size: 1.25rem;
    color: #d3c4b5;
}

.display-1 {
    font-size: 5.5rem;
    font-weight: 300;
    font-weight: bold;
    color: #fff;
}

.display-2 {
    font-size: 3rem;
    font-weight: 300;
    text-transform: capitalize;
}

.display-3 {
    font-size: 3.5rem;
    font-weight: 300;
}

.btn {
    display: inline-block;
    font-size: 13px;
    padding: 12px 30px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 50px;
    width: 210px;
    text-align: center;
}

.btn-red-outline {
    background: #c62744;
    border: 2px solid #fff;
    color: #fff;
    text-transform: capitalize;
    font-weight: 200;
    letter-spacing: 1px;
}

.btn-red {
    background: #db8192;
    border: 2px solid #db8192;
    color: #fff;
    text-transform: uppercase;
}

.btn-outline {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
}

/* Mainheader */
#mainheader {
    background: url('../showcase.jpg') no-repeat center center/cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* Mainheader No */
#mainheader-no {
    background: url('../no.jpg') no-repeat center center/cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#mainheader-no .display-3 {
    padding: 50px;
}

/* Navbar */ 
#navbar {
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

#navbar a {
    color: #93c3c7;
}

#navbar .logo {
    font-family: 'Dancing Script', cursive;
    float: left;
    font-size: 40px;
}

#navbar ul {
    list-style: none;
    float: right;
}
#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

/* Navbar red */
.navbar-red {
    background: #c62744;
}

/* Showcase */
#showcase {
    text-align: center;
    padding-top: 200px;
    color: #fff;
}

#showcase p {
    padding: 15px 0;
}

/* Valentine */
#valentine {
    background: #c62744;
    padding: 80px 0;
    color: #fff;
}

.valentine-row {
    display: flex;
}

.valentine-row-text {
    padding-right: 40px;
}

.valentine-row-btn {
    display: flex;
    padding-top: 10px;
}

.valentine-row-btn-yes,
.valentine-row-btn-no {
    padding: 20px;
}

/* Yes */
#yes {
    padding: 600px 0;
    height: 100vh
}

.yes-row {
    display: flex;
}

.yes-row-box {
    padding: 17px;
}

.yes-row-box img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
}

.yes-row-box a {
    display: block;
    margin: auto;
}

/* Dedicatoria & Regalo */
#dedicatoria, 
#regalo {
    padding: 100px 0;
}

.dedicatoria-row,
.regalo-row {
    display: flex;
}

.dedicatoria-row img,
.regalo-row img {
    width: 300px;
    border-radius: 20px;
}

.dedicatoria-row-text,
.regalo-row-text {
    padding-left: 30px;
}

/* Yes */

.yes-row {
    display: flex;
}

.yes-row img {
    width: 385px;
    height: 470px;
}

/* Mainfooter */
#mainfooter {
    background: #800040;
    text-align: center;
    padding: 30px;
}


